<configuration>

    <appender name="LOGIN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/login.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/login.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fatec.labify.config.interceptor" level="INFO" additivity="false">
        <appender-ref ref="LOGIN_FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <appender name="LAB_AUDIT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/lab-audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/lab-audit.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fatec.labify.config.interceptor.LaboratoryAuditInterceptor" level="INFO" additivity="false">
        <appender-ref ref="LAB_AUDIT_FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <appender name="ROLE_AUDIT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/role-audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/role-audit.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fatec.labify.config.interceptor.RoleAuditInterceptor" level="INFO" additivity="false">
        <appender-ref ref="ROLE_AUDIT_FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>
